amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.3
billiard==3.3.0.23
black==19.3b0
celery==3.1.23
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cycler==0.10.0
dash==1.0.2
dash-core-components==1.0.0
dash-daq==0.1.0
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.0.2
dash.ly==0.17.3
defusedxml==0.5.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==2.2
django-allauth==0.39.1
django-appconf==1.0.3
django-autoslug==1.9.6
django-ckeditor==5.7.1
django-countries==5.5
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-extensions==2.2.1
django-haystack==2.4.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-localflavor==2.2
django-material==1.4.3
django-materialize==1.0.1a2
django-materializecss-form==1.1.14
django-paypal==0.3.2
django-taggit==0.18.1
django-tinymce4-lite==1.7.4
djangorestframework==3.10.2
docker==4.0.2
Flask==1.1.1
Flask-Compress==1.4.0
Flask-SeaSurf==0.2.2
get==2019.4.13
gunicorn==19.9.0
idna==2.8
iexfinance==0.4.2
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10.1
jsmin==2.2.2
kiwisolver==1.1.0
kombu==3.0.37
lazy-object-proxy==1.3.1
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mysql-connector-python==8.0.17
numpy==1.16.4
oauthlib==3.0.1
odfpy==1.4.0
pandas==0.25.0
pandas-datareader==0.8.1
pep8==1.7.1
pilkit==2.0
Pillow==5.4.1
plotly==4.0.0
post==2019.4.13
protobuf==3.9.2
psycopg2-binary==2.7.7
public==2019.4.13
pycodestyle==2.5.0
pylint==2.3.1
pyparsing==2.4.2
PySocks==1.7.0
python-dateutil==2.8.0
python-decouple==3.1
python-form==0.2.2
python-stdnum==1.11
python3-openid==3.1.0
pytz==2018.9
PyYAML==5.1.1
query-string==2019.4.13
request==2019.4.13
requestes==0.0.1
requests==2.21.0
requests-oauthlib==1.2.0
retrying==1.3.3
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
stripe==1.35.0
toml==0.10.0
tweepy==3.8.0
typed-ast==1.4.0
urllib3==1.24.2
virtualenv==16.7.2
websocket-client==0.56.0
Werkzeug==0.15.3
whitenoise==3.2
wrapt==1.11.0
